<h1 class="my-3 mx-2">New Game</h1>

<div class="d-inline-flex mx-5">
  <% @letters.each do |letter|%>
    <span class="py-2 px-3 m-2 fs-1 shadow" style="background-color: rgba(17, 40, 232, 0.51); color: white; font-weight: bold; text-align: center;"><%=letter%></span>
  <%end%>
</div>
<form action="score" method="post" data-turbo="false" class="my-5 mx-2 row">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <label class="col-12">Your longest word:</label>
  <input type="text" class=" col-10" name="word">
  <input type="submit" value="Submit" class="btn btn-primary col-1">
  <input type="text" value="<%=@letters%>" name="letters" style="display: none;">
  <input type="text" value="<%=@start_time%>" name="start" style="display: none;">
</form>
